---
import Papel from "./Papel.astro";
import Audio2 from "./Audio2.astro";
import Carrousel from "./Carrousel.astro";
const { post, fecha, fechap } = Astro.props;
---

<main id="main">
    <div class="columna">
        <figure class="kq kr ks kt ku kv kn ko paragraph-image">
            <div role="button" tabindex="0" class="kw kx go ky bg kz">
                <div class="kn ko kp"><picture><source srcset="https://miro.medium.com/v2/resize:fit:640/format:webp/1*8WfcBeeHrWJKebXq-SkVvQ.png 640w, https://miro.medium.com/v2/resize:fit:720/format:webp/1*8WfcBeeHrWJKebXq-SkVvQ.png 720w, https://miro.medium.com/v2/resize:fit:750/format:webp/1*8WfcBeeHrWJKebXq-SkVvQ.png 750w, https://miro.medium.com/v2/resize:fit:786/format:webp/1*8WfcBeeHrWJKebXq-SkVvQ.png 786w, https://miro.medium.com/v2/resize:fit:828/format:webp/1*8WfcBeeHrWJKebXq-SkVvQ.png 828w, https://miro.medium.com/v2/resize:fit:1100/format:webp/1*8WfcBeeHrWJKebXq-SkVvQ.png 1100w, https://miro.medium.com/v2/resize:fit:1400/format:webp/1*8WfcBeeHrWJKebXq-SkVvQ.png 1400w" sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw, (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw, (min-resolution: 3dppx) and (max-width: 700px) 67vw, (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw, (min-resolution: 2.5dppx) and (max-width: 700px) 80vw, (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw, (min-resolution: 2dppx) and (max-width: 700px) 100vw, (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px" type="image/webp"><source data-testid="og" srcset="https://miro.medium.com/v2/resize:fit:640/1*8WfcBeeHrWJKebXq-SkVvQ.png 640w, https://miro.medium.com/v2/resize:fit:720/1*8WfcBeeHrWJKebXq-SkVvQ.png 720w, https://miro.medium.com/v2/resize:fit:750/1*8WfcBeeHrWJKebXq-SkVvQ.png 750w, https://miro.medium.com/v2/resize:fit:786/1*8WfcBeeHrWJKebXq-SkVvQ.png 786w, https://miro.medium.com/v2/resize:fit:828/1*8WfcBeeHrWJKebXq-SkVvQ.png 828w, https://miro.medium.com/v2/resize:fit:1100/1*8WfcBeeHrWJKebXq-SkVvQ.png 1100w, https://miro.medium.com/v2/resize:fit:1400/1*8WfcBeeHrWJKebXq-SkVvQ.png 1400w" sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw, (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw, (min-resolution: 3dppx) and (max-width: 700px) 67vw, (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw, (min-resolution: 2.5dppx) and (max-width: 700px) 80vw, (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw, (min-resolution: 2dppx) and (max-width: 700px) 100vw, (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px"><img alt="" class="bg la lb c" width="700" height="389" loading="eager" role="presentation" src="https://miro.medium.com/v2/resize:fit:700/1*8WfcBeeHrWJKebXq-SkVvQ.png"></picture></div></div></figure>
        <div class="navbar">
            <div class="izibrand flex align-center">
                <img class="logo" src="img/izimedia2.svg" alt="" width="114" height="57" />
                <div class="izipress"> IZI PRESS # {post.extra.numwords}</div>
                <div id="SidebarToggle" class="hidden-pdf xs pointer detail-layout" >
                    <div class="abrir flex">
                        Detalles<img style="padding-top: 5px;" width="22" height="21.33" alt="options" src="img/right.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div id="pdf" class={`papel ${post.tipo === 3 && "strech"}`}>
            <div class="printdetails">
                <div class="medio">
                    <img class="company" src="img/latercera.png" alt="" />
                    <span>24horas.cl</span><span class="type">-</span>
                    <span class="type">Internet</span>
                </div>
                <div class="fecha">
                    <!-- <Image src={myImage} alt="A description of my image." /> -->
                    <img class="date" src="img/calendar.svg" alt="" />
                    <span>{fecha}</span>
                </div>
                <div class="item medium-sans yellow">
                    <img class="value" src="img/value.svg" alt="" />
                    <span>1.380.000 CLP</span>
                </div>
                {post.tono === 0 && (
                        <div class="denotacion denotation0 positiva">
                            Connotación Positiva
                        </div>
                    )}
                {post.tono === 1 && (
                        <div class="denotacion denotation1 negativa ">
                            Connotación Negativa
                        </div>
                    )}
                {post.tono === 2 && (
                        <div class="denotacion denotation2 neutra">Connotación Neutral</div>
                    )}
                <div class="item medium-sans purple">
                    <img class="audience" src="img/audience.svg" alt="" />
                    <span>{post.extra.audience.toLocaleString("cl")} Audiencia</span>
                </div>
                <div class="item medium-sans red">
                    <img class="rating" src="img/rating.svg" alt="" />
                    <span>10 pts Rating</span>
                </div>
                <div class="seccion">
                    <img
                        class="section"
                        src="img/section3.svg"
                        alt="section"
                        width="17"
                        height="10.56"
                    />
                    <span>Sección Nacional</span>
                </div>
                <div class="fecha2">
                    <img class="upload" src="img/up.svg" alt="" />
                    <span>{fechap} Hrs</span>
                </div>
            </div>
            {post.tipo === 3 && (
                    <div class="container grid">
                        <video id="2" class="video start1 invisibility print-visibility " src={post.url_img} />
                        <video controls id="2" class="video start1 print-block print-invisibility" src={post.url_img} webkit-playsinline playsinline />
                    </div>
                )}
            {post.tipo == 1 && <div class="title-papel">{post.titulo}</div>}

            {post.tipo == 2 && <div class="title">{post.titulo}</div>}

            {[3, 4].indexOf(post.tipo) > -1 && (
                    <div class="title-video" set:html={post.titulo} />
                )}

            {post.tipo === 1 && (
                    <div set:html={post.cachetxt} class="cachetxt-papel" />
                )}
            {post.tipo === 4 && (
                    <div class="radio hidden-pdf">
                        <Audio2 src={post.url_img} />
                    </div>
                )}
            {[2, 3, 4].indexOf(post.tipo) > -1 && (
                    <div set:html={post.cachetxt} class="cachetxt" />
                )}
        </div>
        <div class="footer">
            © Izimedia Soluciones Digitales para el Análisis de Prensa
        </div>
    </div>
    <div id="Sidebar" class="columnb">
        <div class="detalles">
            <div class="items">
                <span class="hidden-details block">
                    <div class="medio">
                        <img class="company" src="img/latercera.png" alt="" />
                        <span>24horas.cl</span><span class="type">-</span>
                        <span class="type">Internet</span>
                    </div>
                    <div class="fecha">
                        <img class="date" src="img/calendar.svg" alt="" />
                        <span>{fecha}</span>
                    </div>
                    <div class="item medium-sans yellow">
                        <img class="value" src="img/value.svg" alt="" />
                        <span>1.380.000 CLP</span>
                    </div>
                    {post.tono === 0 && (
                            <div class="denotacion denotation0 positiva">
                                Connotación Positiva
                            </div>
                        )}
                    {post.tono === 1 && (
                            <div class="denotacion denotation1 negativa ">
                                Connotación Negativa
                            </div>
                        )}
                    {post.tono === 2 && (
                            <div class="denotacion denotation2 neutra">
                                Connotación Neutral
                            </div>
                        )}
                    <div class="item medium-sans purple">
                        <img class="audience" src="img/audience.svg" alt="" />
                        <span>{post.extra.audience.toLocaleString("cl")} Audiencia</span>
                    </div>
                    <div class="item medium-sans red">
                        <img class="rating" src="img/rating.svg" alt="" />
                        <span>10 pts Rating</span>
                    </div>
                    <div class="seccion">
                        <img class="section" src="img/section3.svg" alt="section" width="17" height="10.56" />
                        <span>Sección Nacional</span>
                    </div>
                    <div class="fecha2">
                        <img class="upload" src="img/up.svg" alt="" />
                        <span>{fechap} Hrs</span>
                    </div>
                </span>
                <div class="actions-container hidden-pdf">
                    <div id="url" class="actions">
                        <img class="chain" src="img/copiar.svg" alt="" />
                        <img  class="chain hidden" src="img/copiar2.svg" alt="" />
                        <span class="precopy">Copiar Url</span>
                        <span class="postcopy hidden">Copiado!</span>
                    </div>
                    <div id="download" class="actions">
                        <img class="download" src="img/pdf.svg" alt="descargar pdf" />
                        <span>Generar Pdf</span>
                        <span class="hidden">Generado!</span>
                    </div>
                    <div id="pr" class="actions">
                        <img class="download" src="img/play.svg"  alt="descargar pdf" />
                        <span>Exportar a PR</span>
                        <span class="hidden">Exportado a PR!</span>
                    </div>
                </div>
                {[1].indexOf(post.tipo) > -1 && (<Papel  miniatures={post.extra.miniatures} padre="index-sidebar" />)}
                {[2].indexOf(post.tipo) > -1 && (<img class="miniature" width="320" height="180" src="img/Aton_324985_rX8dU.webp" alt="" />)}
            </div>
            <div id="SidebarToggleIn" class="hidden-pdf xs pointer detail-layout2" >
                <div class="cerrar flex">
                    Cerrar<img style=" margin-top: 2px" width="22" height="21.33" alt="cerrar" src="img/right.svg" />
                </div>
            </div>
        </div>
    </div>
    {post.tipo === 1 && <Carrousel miniatures={post.extra.miniatures} />}
    {[2].indexOf(post.tipo) > -1 && (
            <img class="img-internet print-visibility" width="320" height="180" src="img/Aton_324985.jpg" alt="" />
        )}
</main>

